@use "sass:map";

$filters: (
  "primary":  invert(9%) sepia(66%) saturate(1818%) hue-rotate(188deg) brightness(93%) contrast(97%),
  "secondary": invert(24%) sepia(88%) saturate(2786%) hue-rotate(343deg) brightness(90%) contrast(91%),
  "red": invert(16%) sepia(99%) saturate(7482%) hue-rotate(0deg) brightness(101%) contrast(118%),
  "white": invert(1) brightness(1),
  "gray": invert(65%),
  "dark-gray": invert(55%),
  "success": invert(34%) sepia(96%) saturate(3700%) hue-rotate(132deg)
    brightness(116%) contrast(101%),
);

// CSS Variables oluştur
:root {
  @each $name, $value in $filters {
    --filter-#{$name}: #{$value};
  }
}

@mixin apply-filter($name) {
  filter: var(--filter-#{$name});
}

.filter-hover {
  @each $name, $value in $filters {
    &-#{$name} {
      filter: none;

      @media (min-width: 992px) {
        &:hover {
          @include apply-filter($name);
        }
      }
    }
  }
}
.filter-hover-img {
  @each $name, $value in $filters {
    &-#{$name} {
      @media (min-width: 992px) {
        &:hover {
          img {
            @include apply-filter($name);
          }
        }
      }
    }
  }
}

.filter {
  @each $name, $value in $filters {
    &-#{$name} {
      @include apply-filter($name);
    }
  }
}

.button-secondary {
  @media (min-width: 992px) {
    &:hover {
      .filter-hover-secondary {
        filter: var(--filter-secondary);
      }
    }
  }
}