.module {
  display: flex;
  .moduleContent {
    padding-top: 60px;
  }
  .moduleTitle {
    font-size: 48px;
    line-height: 60px;
    font-weight: 500;
    color: var(--primary);
    margin-bottom: 10px;
  }
  .moduleText{
    font-size: 16px;
    line-height: 26px;
    color: var(--text);
    font-weight: 400;
    font-family: 'Inter', sans-serif;
  }
}
