.paginationWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  padding: 30px 0;
  .paginationList {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .pageItem {
    border-radius: 4px;
    padding: 0 6px;
    height: 36px;
    min-width: 36px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-2000);
    color: var(--text);
    transition: all 0.3s linear;
    font-size: 12px;
    font-weight: 600;
    &.active {
      color: var(--white);
      background-color: var(--secondary);
    }
    @media screen and (min-width: 992px) {
      &:hover {
        color: var(--white);
        background-color: var(--secondary);
      }
    }
  }
}
