.preloader {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--white);
  z-index: 99999;
  .loader {
    height: 4px;
    width: 130px;
    border-radius: 4px;
    background: no-repeat linear-gradient(#012f33 0 0),
      no-repeat linear-gradient(#012f33 0 0), #d7b8fc;
    background-size: 60% 100%;
    animation: loader 3s infinite;
  }
  @keyframes loader {
    0% {
      background-position: -150% 0, -150% 0;
    }
    66% {
      background-position: 250% 0, -150% 0;
    }
    100% {
      background-position: 250% 0, 250% 0;
    }
  }
}
