header {
  .menuWrap {
    .menuList {
      display: flex;
      align-items: center;
      .menuLink {
        color: var(--primary);
        transition: all 0.3s linear;
        font-family: "Roboto Condensed", sans-serif;
        text-transform: uppercase;
        @media screen and (max-width:991.98px) {
          color: var(--tertiary);
        }
        @media screen and (min-width:992px) {
          font-size: 20px;
          padding: 0 24px;
          font-weight: 600;
        }
      }
    }
  }
  nav {
    margin-left: auto;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: all 0.3s linear;
    gap: 50px;
    @media screen and (max-width: 991.98px) {
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.8);
      transform: translateX(100%);
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s linear;
      &.show {
        transform: translate(0);
        opacity: 1;
        visibility: visible;
      }
      .logo {
        justify-content: center;
      }
      .collapseMenuWrap {
        height: 100vh;
        background: var(--white);
        position: absolute;
        top: 0;
        right: 0;
        padding-top: 70px;
        padding-bottom: 30px;
        width: 100%;

        .menuList {
          display: block;
          height: calc(100% - 184px);
          overflow-y: auto;
          border-top: 1px solid var(--gray-200);
        }
      }
    }
  }

  .navbarMenuButton {
    @media screen and (max-width: 991.98px) {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
      position: relative;
      width: 24px;
      height: 24px;
      margin-left: auto;
      padding: 5px 0;
      transition: all 0.3s linear;
      transform: translateY(7px);
      &:before,
      &:after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: var(--secondary);
        position: relative;
      }
      .line {
        width: calc(100% - 4px);
        height: 2px;
        background-color: var(--secondary);
      }
      &.active {
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        .line {
          opacity: 0;
          visibility: hidden;
        }
        &:before {
          transform: rotate(45deg);
          top: 2px;
        }
        &:after {
          transform: rotate(-45deg);
          top: -2px;
        }
      }
    }
  }
  &.fixed {
    nav {
      &.menuWrap {
        .menuList {
          .menuItem {
            .menuLink {
              color: var(--primary);
              // height: 75px;
              // @media screen and (max-width: 991.98px) {
              //   padding: 10px 16px;
              // }
              &.dropdown-menu-link {
                .iconImg {
                  color: var(--dark-gray);
                }
              }
            }
            @media screen and (min-width: 992px) {
              &.dropdown {
                &:hover {
                  .dropdown-menu {
                    &:before {
                      opacity: 1;
                    }
                  }
                }
              }
              &:hover {
                .menuLink {
                  color: var(--secondary);
                  &.dropdown-menu-link {
                    .iconImg {
                      color: var(--secondary);
                      .notHover {
                        display: none;
                      }
                      .hover {
                        display: block;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
